exportPattern("^[[:alpha:]]+")
import(stats)
importFrom(XML,htmlParse,readHTMLTable)
importFrom(ggmap,geocode)
importFrom(plyr, join,llply,ldply)
importFrom(datasets, state.abb, state.name)
importFrom(utils, URLencode, write.table)
