exportPattern("^[[:alpha:]]+")
import(stats)
importFrom(datasets)
importFrom(XML,htmlParse,readHTMLTable)
importFrom(ggmap,geocode)
importFrom(plyr, join,llply,ldply)
importFrom(utils, URLencode, write.table)
importFrom(digest, digest)
importFrom(rjson, fromJSON)
